<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        <p>This app uses weather and forecast data from mapbox.com and darksky.net</p>
        <img src="img/bh.jpg" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>